body {
    padding: 0;
    margin: 0;
    color: white;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 10%;
}
nav {
    position: sticky;
    top: 0;
    padding-top: 0.1px;
    background: rgb(10,11,9);
    background: linear-gradient(90deg, rgba(10,11,9,1) 0%, rgba(66,66,66,1) 71%, rgba(66,66,66,1) 73%, rgba(67,67,67,1) 76%, rgba(70,70,70,1) 79%, rgba(72,72,72,1) 80%, rgba(75,75,75,1) 83%, rgba(78,78,78,1) 88%, rgba(83,83,83,1) 92%, rgba(86,86,86,1) 97%, rgba(92,92,92,1) 100%, rgba(98,98,98,1) 100%, rgba(108,108,108,1) 100%, rgba(114,114,114,1) 100%, rgba(176,176,176,1) 100%, rgba(212,212,212,1) 100%, rgba(255,255,255,1) 100%);
    border-bottom: white solid 0.05px;
    text-align: center;
    z-index: 1;
    font-family: 'Roboto Mono', monospace;
}
ul {
    
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    grid-template-columns: auto auto auto;
    display: grid;
}
li {
    text-decoration: none;
    color: wheat;
}
li>a {
    color: white;
    width: 100%;
}
header {
    border-bottom: 5px solid rgb(73, 75, 75);
    background: rgb(10,11,9);
    background: linear-gradient(90deg, rgba(10,11,9,1) 0%, rgba(66,66,66,1) 71%, rgba(66,66,66,1) 73%, rgba(67,67,67,1) 76%, rgba(70,70,70,1) 79%, rgba(72,72,72,1) 80%, rgba(75,75,75,1) 83%, rgba(78,78,78,1) 88%, rgba(83,83,83,1) 92%, rgba(86,86,86,1) 97%, rgba(92,92,92,1) 100%, rgba(98,98,98,1) 100%, rgba(108,108,108,1) 100%, rgba(114,114,114,1) 100%, rgba(176,176,176,1) 100%, rgba(212,212,212,1) 100%, rgba(255,255,255,1) 100%);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
header>a {
    color: rgb(255, 80, 80);
}
main {
    padding: 10%;
    background: rgb(10,11,9);
    background: linear-gradient(90deg, rgba(10,11,9,1) 0%, rgba(66,66,66,1) 71%, rgba(66,66,66,1) 73%, rgba(67,67,67,1) 76%, rgba(70,70,70,1) 79%, rgba(72,72,72,1) 80%, rgba(75,75,75,1) 83%, rgba(78,78,78,1) 88%, rgba(83,83,83,1) 92%, rgba(86,86,86,1) 97%, rgba(92,92,92,1) 100%, rgba(98,98,98,1) 100%, rgba(108,108,108,1) 100%, rgba(114,114,114,1) 100%, rgba(176,176,176,1) 100%, rgba(212,212,212,1) 100%, rgba(255,255,255,1) 100%);
}
h2 {
    background-color: rgb(245, 167, 111);
    border-radius: 5px;


    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
p {
    justify-content:center;
    font-family: 'Mukta', sans-serif;
}
span{
    font-size: 200%;
}

.div {
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0.8%;
    padding: 10px;
    height: 100px;
    max-width: 100%;  
    width: 100%;
    background: rgb(10,11,9);
    background: linear-gradient(270deg, rgba(10,11,9,1) 0%, rgba(66,66,66,1) 71%, rgba(66,66,66,1) 73%, rgba(67,67,67,1) 76%, rgba(70,70,70,1) 79%, rgba(72,72,72,1) 80%, rgba(75,75,75,1) 83%, rgba(78,78,78,1) 88%, rgba(83,83,83,1) 92%, rgba(86,86,86,1) 97%, rgba(92,92,92,1) 100%, rgba(98,98,98,1) 100%, rgba(108,108,108,1) 100%, rgba(114,114,114,1) 100%, rgba(176,176,176,1) 100%, rgba(212,212,212,1) 100%, rgba(255,255,255,1) 100%);
}
.div > img {
    max-height: 100%;
    max-width: 100%;
    text-align: center;    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}